@media screen and (min-width:600px) {
    /* ===============================================
                0. General Styles
    ==================================================*/

    /* ============ 0.1 Main layout ================== */

    .app {
        position: fixed;
        inset: 0;
    }

    nav {
        position: relative;
    }

    /* ============ 0.2 General components ================== */


    /* ===============================================
                1. Welcome Users Page
    ==================================================*/

    /* ============ 1.1 Main layout ================== */

    main.userMain {
        overflow: auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(clamp(500px, 40vw, 700px), 1fr));
        grid-template-rows: min-content 1fr;
    }

    /* ============ 1.2 Welcome message ================== */

    .users__welcome {
        font-size: var(--size-8);
    }

    .users__welcome span {
        display: inline;
    }

    /* ============ 1.3 Users list ================== */

    .users__btn-access,
    .users__btn-add {
        width: 60vw;
        max-width: 250px;
    }

    .users__list {
        scroll-snap-type: none;
    }

    .users__list li:first-of-type,
    .users__list li:last-of-type {
        margin: 0;
    }

    /* ============ 1.4 Add new user form ================== */

}