/* ===============================================
            4. User projects page
==================================================*/

/*============4.0 General styles==================*/

.projects__overview {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: var(--screen-padding);
}

.projects__overview li {
    background-color: var(--color-light-03);
    padding: 1em;
    display: flex;
    gap: 1em;

    justify-content: space-around;
    border-radius: .8em;
}


.dark .projects__overview li {
    background-color: var(--color-light-01);
}

.projects__overview li>.project__element {
    flex: 0 1 30%;

    display: flex;
    align-items: center;
}

.projects__overview .flex-group {
    flex-basis: 30%;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em 1em;
    margin-left: auto;
}

.projects__overview .flex-group .label {
    min-width: 90px;
}

.projects__overview .list__header {
    border-bottom: 1px solid var(--color-accent-01);
    border-radius: 0;
    background-color: transparent;
    font-weight: 800;
    margin-bottom: 1em;
}


/*============ Individual page for project==================*/

.overview__project {
    grid-column: 1 / -1;
    padding: 1em;
    background-color: var(--color-light-01);
    margin-bottom: 1em;
    border-radius: 0.8em;
    min-height: 150px;
}